.download {
  background-image: url("../../assets/svg/banner-download.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.download .content .title {
  padding-top: 5rem;
  position: relative;
  max-width: 32ch;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4D128F;
}

.download .content .title::after {
  content: url("../../assets/svg/secondary-detail.svg");
  position: absolute;
  left: 0;
  top: 0;
}

.download .img {
  width: 40%;
}

.download .content .stores {
  display: flex;
  gap: 2.5rem;
  margin-top: 2.625rem;
}

@media (max-width: 1140px) {
  .download .img {
    width: 50%;
  }

  .download .wrapper {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .download {
    margin-top: initial;
  }

  .download .content .title {
    padding-top: 4rem;
  }

  .download .img {
    display: none;
  }
}