.footer {
  background-image: url("../../assets/svg/banner-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
}

.footer .wrapper {
  display: flex;
  flex-direction: column;
}

.footer .wrapper .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 11.25rem 0 6.25rem 0;
}

.footer .wrapper .top h1 {
  font-weight: 300;
  color: var(--white-color);
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.footer .informations {
  width: 30%;
}

.footer .informations .options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .informations div {
  display: flex;
  gap: 0.5rem;
}

.footer .informations a,
.footer .list a {
  color: var(--white-color);
  font-size: 1rem;
}

.footer .informations a:hover,
.footer .list a:hover {
  text-decoration: underline;
}

.footer .informations,
.footer .about,
.footer .products {
  display: flex;
  flex-direction: column;
}

.footer .informations .logo {
  width: 11.5625rem;
  margin-bottom: 1.5rem;
}

.footer .list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  color: var(--white-color);
}

.footer .bottom {
  display: flex;
  justify-content: space-between;
  border-top: 0.0625rem solid var(--white-color);
  padding: 2rem 0;
  color: var(--white-color);
}

.footer .bottom .social-medias {
  display: flex;
  gap: 1rem;
}

.footer .bottom .social-medias img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .footer .wrapper .top {
    margin: 6.25rem 0 0 0;
  }

  .footer .wrapper .top h1 {
    margin-bottom: initial;
  }

  .footer .informations {
    width: 100%;
  }

  .footer .informations .options {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .footer .informations .logo {
    margin-bottom: 0;
  }

  .footer .about {
    margin-top: 2rem;
  }

  .footer .about,
  .footer .products {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer .list {
    margin-top: 1.5rem;
  }

  .footer .bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footer .bottom .social-medias {
    margin-top: 1rem;
  }
}