.register {
  display: flex;
  justify-content: space-around;
  margin: 5rem auto;
}

.register .card {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 3.75rem;
}

.register .card h1 {
  color: var(--main-color);
  font-weight: 500;
  max-width: 13.75rem;
  margin-right: 2.5rem;
  font-size: 1.75rem;
}

.register .card img {
  height: max-content;
}

.register .card::before {
  content: url("../../assets/svg/primary-fine-detail.svg");
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .register {
    gap: 2.5rem;
    margin: 2.5rem auto;
  }

  .register .card {
    margin-bottom: 2.5rem;
    padding-bottom: 1.25rem;
  }

  .register .card h1 {
    margin-right: 0;
    margin-bottom: 1.25rem;
    max-width: initial;
  }
}

@media (max-width: 480px) {
  .register {
    flex-direction: column;
  }
}