.safety {
  display: flex;
  position: relative;
  margin-top: 6.25rem;
}

.safety .wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: 8.75rem;
}

.safety .content {
  position: relative;
}

.safety .content .paragraphs {
  color: var(--text-color);
  font-size: 1.125rem;
  max-width: 46ch;
  line-height: 1.5;
}

.safety .content .paragraphs a {
  color: var(--main-color);
  font-weight: 700;
  position: relative;
  font-size: 1rem;
}

.safety .content .paragraphs a::after {
  content: url("../../assets/svg/primary-detail-small.svg");
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.safety .content .title {
  color: var(--main-color);
  font-size: 1.75rem;
  font-weight: 600;
  max-width: 16ch;
  padding: 5.5rem 0;
}

.safety .content .title::after {
  content: url("../../assets/svg/primary-detail.svg");
  position: absolute;
  left: 0;
  top: 0;
}

.safety .img {
  position: absolute;
  right: 0;
  top: -8.75rem;
  width: 40%;
}

.safety .content a {
  display: inline-flex;
  color: #2678FA;
  font-weight: 600;
  font-size: 1.125rem;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.75rem;
  font-weight: 500;
}

.safety .content a:hover:not(:first-child) {
  text-decoration: underline;
}

.safety .content a img {
  margin-top: 0.375rem;
}

@media (max-width: 768px) {
  .safety .wrapper {
    height: auto;
    margin-top: initial;
  }

  .safety .content .title {
    padding: 4rem 0 1.5rem 0;
  }

  .safety .content .paragraphs {
    max-width: initial;
  }

  .safety .img {
    display: none;
  }
}