.solutions .title {
  text-align: center;
  margin-top: 6.25rem;
  padding: 5.5rem 0;
  position: relative;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 600;
}

.solutions .title::before {
  content: url("../../assets/svg/primary-detail.svg");
  position: absolute;
  top: 0;
}

.solutions .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
  gap: 5rem;
  margin-bottom: 2.625rem;
}

.solutions .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions .card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.solutions .card .content h1 {
  color: var(--main-color);
  font-size: 1.375rem;
  max-width: 12ch;
  margin: 2.625rem 0;
}

.card .content p {
  color: var(--text-color);
  font-size: 1rem;
  max-width: 24ch;
}

@media (max-width: 1140px) {
  .solutions .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .solutions .title {
    padding-top: 4rem;
    margin-top: 1.25rem;
  }

  .solutions .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }
}